.all-volunteers{

    width: 100%;
    display: flex;
    flex-direction: column;
    &__requests{

        width: 100%;
      padding: 10px;
      
        color: #000;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        &--title{

width: 100%;
            font-size: 30px;
            font-weight: bold;
        }
        &--request{

            width:25%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-wrap: wrap;
           border:1px solid  #662D91;
            background-color: #fff;
            padding: 10px;
            justify-content: space-between;
        

        }
        &--user-list{

            width:100%;
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            padding: 10px;
            gap: 35px;
            background-color: #662D91;
        }
        .user-item{

            display: flex;
            flex-direction: column;
            gap: 10px;
            width:20%;
            padding: 10px;
            align-items: center;
       background-color: #fff;
            position: relative;
            border-radius: 15px;


        }
        .user-image{

            width: 90px;
            height: 90px;
            border-radius: 50%;;
            box-shadow: 0 0 5px 0 #7d7d7d;
object-fit: cover;
        }
        .user-data{
padding: 10px;
background-color: #fff;
            text-transform: capitalize;
            font-weight: 600;
            width: 100%;
            box-shadow: 0 0 5px 0 #7d7d7d;

        }
        .user-cta{
   
            position: relative;
  width: 100%;
  font-size: 30px;

&:hover{

    .user-tooltip{

        display: block;
    }
}

        }
        .user-active{

            background-color: green;
            color: #fff;
        }
        .user-inactive{

            background-color: red;
            color: #fff;
        }
        .user-tooltip{

            position: absolute;
            top:0;
            left:30%;
            display: none;
            font-size: 12px;
            width: max-content;
            padding: 5px;
            background-color: #000;
            color: #fff;
        }
        &--search{

            width: 100%;
        }
        .search-bar{

            width: 30%;
            padding: 10px;
            border: 2px solid #662D91;

        }
       
        .request_img{

            width: 100%;
            
        }
        .request_data{

         
          font-weight: 600;
          padding: 5px;
          &:nth-child(even){

            background-color: #e8d9f3;

          }
          &:nth-child(odd){

            background-color: #faf2ff;

          }
        }
        .cv-link{

            display: flex;
            justify-content: center;
        }

        .request-ctas{

            display: flex;
            flex-direction: row;
            gap: 10px;
            margin: 1rem 0;
        }
        .request_cta-accept{

         background-color: green;
         color:#fff;
         padding: 1%;
            text-align: center;
            width: 50%;
            margin: auto;

        }
        .request_cta-reject{

          color: #fff;
          background-color: red;
            text-align: center;
            padding: 1%;
            width: 50%;
            margin:auto;
        }
        .request_file{

            background-color: #662D91;
            color: #fff;
            padding: 10px;
        }
        .request_no-file{

            background-color: #925bbd;
            color: #fff;
            padding: 10px;
        }
        .request_none{

            width:50%;
            padding:10px;
            margin: auto;
            background-color: #925bbd14;
            color: #000;
            font-size: 30px;
            text-align: center;
        }
    }
}



.universal-popup{
    width: 100%;
    position: fixed;
    overflow-y: hidden;
    top:0;
    left:0;
    height: 100vh;
    background-color: #000000bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__dialog-box{

        width: 40%;
        display: flex;
        flex-direction: column;
        &--dialog-header{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #662D91;
        }
        &--dialog-body{

            background-color: #fff;
            padding: 10px;
        }
        .dialog-name{
            width: 95%;
            color: #fff;
            font-weight: bold;
            padding: 10px;
            text-align: center;
        }
    .dialog-close{

        background-color: red;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 5px 10px;
        border:none;
    }
    .dialog-text{

        padding: 10px;
        font-weight: 600;
        
    }
    .dialog-box-label{

        font-weight: bold;
        font-size: 20px;
        
    }
    .dialog-box-input{

        width:100%;
        font-size: 20px;

    }
    .dialog-list{

        list-style-type: disc;
        list-style-position: inside;
        font-size: 700;
    }
    .dialog-ctas{

        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
      background-color: #fff;

    }
    .dialog-confirm{

        background-color: green;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        
    }
    .dialog-cancel{
        background-color: red;
        color: #fff;
        padding: 10px;
        font-weight: bold;
        
    }
    }
}


@media screen and (max-width:768px) {

    .all-volunteers__requests .user-item{

        width: 100%;
    }
    .all-volunteers__requests .search-bar{

        width: 100%;
    }
    .all-volunteers__requests--request{

        width: 100%;
    }
    .universal-popup__dialog-box{

        width: 90%;
    }


}