.my-clinic {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__heading {

        width: 100%;
        padding: 10px;
        background-color: #fff;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--image {


            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: contain;
            border: 3px solid #662D91;
            box-shadow: 0px 4px 5px 0px #7d7d7d82;
        }

        &--name {

            font-size: 30px;
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
        }

        &--data {


            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            margin: 5% auto;
        }

        .clinic-box {
            cursor: pointer;
            width: 48%;
            display: flex;
            flex-direction: row;
            border: 2px solid #658A2E;
            position: relative;

        }

        .clinic-label {

            background-color: #f8efff;
            text-align: center;
            width: 40%;
            font-weight: bold;
        }

        .clinic-field {

            width: 60%;
            ;
            padding: 0 10px;
            font-weight: 600;
        }

        .clinic-cta {
            position: absolute;
            top: 0;
            left: 0;
            padding: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .expired {


            background-color: red;
            color: #fff;
        }

        .not-expired {

            background-color: green;
            color: #fff;
        }
    }

    &__section {


        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;

        &--head-text {

            font-weight: bold;
            font-size: 40px;
            text-align: center;
        }

        &--services {


            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
justify-content: center;
        }

        .service-card {


            position: relative;
            display: flex;
            flex-direction: column;
            width: 20%;
            margin: 10px;
           align-items: center;
         
        }
        .expired {


            background-color: red;
            color: #fff;
        }

        .not-expired {

            background-color: green;
            color: #fff;
        }
        .service-name {

            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
      width: 100%;
      background-color: #662D91;
      color: #fff;
        }
        .service-data {

            font-size: 20px;
            font-weight: bold;
            text-align: center;
           border-bottom: 1px solid #000;
           padding: 10px;
      width: 100%;
      background-color: #fff;

        }
        .service-cta{

            width: 100%;
            margin: auto;
            font-size: 30px;
        }

        .no-services {

            width: 70%;
            text-align: center;
            font-size: 30px;
            margin: 2% auto;
            background-color: #fff;

        }

        .add-service {
            width: max-content;
            padding: 10px;
            border-radius: 10px;
            margin: auto;
            background-color: #662D91;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
        }
        &--doctors{


            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

        }
        .doctors-header{

            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        .doctors-head-cell{
background-color: #662D91;
border: 1px solid #fff;
color: #fff;
            width:20%;
            font-weight: bold;
            text-align: center;
            font-size: 20px;

        }
    }
}

@media screen and (max-width:768px) {


    .my-clinic__heading .clinic-box {

        width: 100%;
    }
    .my-clinic__section .service-card{

        width: 100%;
    }

}
