.clinic-profile {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.clinic-profile__heading {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clinic-profile__heading--image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid #662D91;
  box-shadow: 0px 4px 5px 0px rgba(125, 125, 125, 0.5098039216);
}
.clinic-profile__heading--name {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}
.clinic-profile__heading--data {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5% auto;
}
.clinic-profile__heading .clinic-box {
  cursor: pointer;
  width: 48%;
  display: flex;
  flex-direction: row;
  border: 2px solid #658A2E;
  position: relative;
}
.clinic-profile__heading .clinic-label {
  background-color: #f8efff;
  text-align: center;
  width: 40%;
  font-weight: bold;
}
.clinic-profile__heading .clinic-field {
  width: 60%;
  padding: 0 10px;
  font-weight: 600;
}
.clinic-profile__heading .clinic-cta {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clinic-profile__heading .expired {
  background-color: red;
  color: #fff;
}
.clinic-profile__heading .not-expired {
  background-color: green;
  color: #fff;
}

.clinic-not-found {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .clinic-profile__heading .clinic-box {
    width: 100%;
  }
}
