.my-appointments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-appointments__status-ctas {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.my-appointments__status-ctas--status-cta {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}
.my-appointments__status-ctas--cta-text {
  font-size: 20px;
  font-weight: bold;
}
.my-appointments__appointments {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-appointments__appointments--appointment {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #662D91;
  padding: 10px;
}
.my-appointments__appointments .appt-data {
  width: 48%;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-appointments__appointments .appt-data select {
  width: 100%;
}
.my-appointments__appointments .appt-data .appt-data-label {
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.my-appointments__appointments .appt-data-file {
  margin: 20px auto;
}
.my-appointments__appointments .appt-data-file .file-link {
  padding: 10px;
  background-color: #fff;
  color: #662D91;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}
.my-appointments__appointments .user-medical-status {
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.no-appt {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.find-volunteer {
  width: 60%;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.find-volunteer__head {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.find-volunteer__cta {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  margin: auto;
}
.find-volunteer__status {
  width: 70%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.find-volunteer .no-vol {
  background-color: red;
  color: #fff;
}
.find-volunteer .yes-vol {
  background-color: green;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .my-appointments__appointments .appt-data {
    width: 100%;
  }
}
